In [93]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# Load params from configuration file
DB_NAME     = config.get('DB', "DB_NAME")
DB_USER     = config.get('DB', "DB_USER")
DB_PASSWORD = config.get('DB', "DB_PASSWORD")
DB_PORT     = config.get('DB', "DB_PORT")
DB_HOST     = config.get('DB_ACCESS', "DB_HOST")
ROLE_ARN    = config.get('DB_ACCESS', "ROLE_ARN")

In [2]:
%load_ext sql

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [4]:
def copy_csv_stmt(table_name, path):
    return ("""
        COPY {} FROM {}
        IAM_ROLE {} 
        DELIMITER '\t'
        IGNOREHEADER 1
        ESCAPE;
    """).format(table_name, config.get('S3', path), ROLE_ARN)

In [5]:
def copy_json_stmt(table_name, path):
    return ("""
        COPY {} FROM {}
        IAM_ROLE {} 
        JSON 'auto';
    """).format(table_name, config.get('S3', path), ROLE_ARN)

In [6]:
def copy_parquet_stmt(table_name, path):
    return ("""
        COPY {} FROM {}
        IAM_ROLE {} 
        FORMAT AS PARQUET;
    """).format(table_name, config.get('S3', path), ROLE_ARN)

Here you can check details of Amazon Redshift errors if any.

In [16]:
%%sql
SELECT * FROM stl_load_errors ORDER BY starttime DESC LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(100, 0, 100813, datetime.datetime(2019, 8, 12, 14, 39, 35, 900595), 13798, 1907, 's3://polakowo-yelp2/staging_data/weather/part-00000-de219c69-a3f4-4180-8790-78af2ba353cc-c000.csv                                                                                                                                                               ', 50951, '                                                                                                                               ', '          ', '          ', 0, 'city\tdate\tavg_temperature\tweather_description\\nPhoenix\t2013-09-10\t297.9496805555417\tlight rain\\nPhoenix\t2013-11-23\t285.16625\tsky is clear\ ... (808 characters truncated) ... ds\\nPhoenix\t2016-05-31\t300.27778279879163\tsky is clear\\nPhoenix\t2016-06-02\t304.93474973979164\tsky is clear\\nPhoenix\t2016-08-09\t306.9500416', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1216, 'Incomplete JSON object found                                                                        ')]

# Load tables

## business_attributes

In [8]:
%%sql
DROP TABLE IF EXISTS business_attributes;
CREATE TABLE business_attributes (
    business_id                       varchar(22) PRIMARY KEY,
    AcceptsInsurance                  boolean,
    AgesAllowed                       varchar(7),
    Alcohol                           varchar(13),
    BYOB                              boolean,
    BYOBCorkage                       varchar(11),
    BikeParking                       boolean,
    BusinessAcceptsBitcoin            boolean,
    BusinessAcceptsCreditCards        boolean,
    ByAppointmentOnly                 boolean,
    Caters                            boolean,
    CoatCheck                         boolean,
    Corkage                           boolean,
    DogsAllowed                       boolean,
    DriveThru                         boolean,
    GoodForDancing                    boolean,
    GoodForKids                       boolean,
    HappyHour                         boolean,
    HasTV                             boolean,
    NoiseLevel                        varchar(9),
    Open24Hours                       boolean,
    OutdoorSeating                    boolean,
    RestaurantsAttire                 varchar(6),
    RestaurantsCounterService         boolean,
    RestaurantsDelivery               boolean,
    RestaurantsGoodForGroups          boolean,
    RestaurantsPriceRange2            integer,
    RestaurantsReservations           boolean,
    RestaurantsTableService           boolean,
    RestaurantsTakeOut                boolean,
    Smoking                           varchar(7),
    WheelchairAccessible              boolean,
    WiFi                              varchar(4),
    Ambience_romantic                 boolean,
    Ambience_casual                   boolean,
    Ambience_trendy                   boolean,
    Ambience_intimate                 boolean,
    Ambience_hipster                  boolean,
    Ambience_upscale                  boolean,
    Ambience_divey                    boolean,
    Ambience_touristy                 boolean,
    Ambience_classy                   boolean,
    BestNights_sunday                 boolean,
    BestNights_thursday               boolean,
    BestNights_monday                 boolean,
    BestNights_wednesday              boolean,
    BestNights_saturday               boolean,
    BestNights_friday                 boolean,
    BestNights_tuesday                boolean,
    BusinessParking_valet             boolean,
    BusinessParking_lot               boolean,
    BusinessParking_validated         boolean,
    BusinessParking_garage            boolean,
    BusinessParking_street            boolean,
    DietaryRestrictions_kosher        boolean,
    DietaryRestrictions_dairy_free    boolean,
    DietaryRestrictions_vegan         boolean,
    DietaryRestrictions_vegetarian    boolean,
    DietaryRestrictions_gluten_free   boolean,
    DietaryRestrictions_soy_free      boolean,
    DietaryRestrictions_halal         boolean,
    GoodForMeal_lunch                 boolean,
    GoodForMeal_brunch                boolean,
    GoodForMeal_dinner                boolean,
    GoodForMeal_latenight             boolean,
    GoodForMeal_dessert               boolean,
    GoodForMeal_breakfast             boolean,
    HairSpecializesIn_curly           boolean,
    HairSpecializesIn_asian           boolean,
    HairSpecializesIn_perms           boolean,
    HairSpecializesIn_africanamerican boolean,
    HairSpecializesIn_straightperms   boolean,
    HairSpecializesIn_kids            boolean,
    HairSpecializesIn_coloring        boolean,
    HairSpecializesIn_extensions      boolean,
    Music_no_music                    boolean,
    Music_dj                          boolean,
    Music_live                        boolean,
    Music_karaoke                     boolean,
    Music_video                       boolean,
    Music_background_music            boolean,
    Music_jukebox                     boolean
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [9]:
copy_stmt = copy_parquet_stmt("business_attributes", "BUSINESS_ATTRIBUTES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [10]:
%%sql
SELECT COUNT(*) FROM business_attributes;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(192609,)]

In [11]:
%%sql
SELECT * FROM business_attributes LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('QXAEGFB4oINsVuTFxEYKFQ', None, None, 'full_bar', None, None, False, None, None, None, True, None, None, None, None, None, True, None, False, 'loud', None, False, 'casual', None, False, True, 2, True, True, True, None, None, 'no', False, True, False, False, False, False, False, False, False, None, None, None, None, None, None, None, False, True, False, False, False, None, None, None, None, None, None, None, True, False, True, False, False, False, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

## cities

In [41]:
%%sql
DROP TABLE IF EXISTS cities;
CREATE TABLE cities (
    city                              varchar(50),
    state_code                        varchar(3),
    number_of_veterans                bigint,
    male_population                   bigint,
    state                             varchar(14),
    median_age                        float,
    total_population                  bigint,
    foreign_born                      bigint,
    female_population                 bigint,
    average_household_size            float,
    american_indian_and_alaska_native bigint,
    asian                             bigint,
    black_or_african_american         bigint,
    hispanic_or_latino                bigint,
    white                             bigint,
    city_id                           bigint PRIMARY KEY
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [42]:
copy_stmt = copy_parquet_stmt("cities", "CITIES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [43]:
%%sql
SELECT COUNT(*) FROM cities;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1258,)]

In [44]:
%%sql
SELECT * FROM cities LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('Mesa', 'AZ', 31808, 234998, 'Arizona', 36.9, 471833, 57492, 236835, 2.68, 16044, 14608, 22699, 131425, 413010, 0)]

# addresses

In [19]:
%%sql
DROP TABLE IF EXISTS addresses;
CREATE TABLE addresses (
     address     varchar(256),
     latitude    float,
     longitude   float,
     postal_code varchar(8),
     city_id     bigint,
     address_id  bigint PRIMARY KEY
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [20]:
copy_stmt = copy_parquet_stmt("addresses", "ADDRESSES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [21]:
%%sql
SELECT COUNT(*) FROM addresses;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(178763,)]

In [22]:
%%sql
SELECT * FROM addresses LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('1856 Main St', 41.2412339, -81.5576961, '44264', 8589934593, 8589934592)]

# categories

In [23]:
%%sql
DROP TABLE IF EXISTS categories;
CREATE TABLE categories (
    category    varchar(35),
    category_id bigint PRIMARY KEY
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [24]:
copy_stmt = copy_parquet_stmt("categories", "CATEGORIES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [25]:
%%sql
SELECT COUNT(*) FROM categories;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1298,)]

In [26]:
%%sql
SELECT * FROM categories LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('3D Printing', 0)]

# business_categories

In [27]:
%%sql
DROP TABLE IF EXISTS business_categories;
CREATE TABLE business_categories (
    business_id varchar(22),
    category_id bigint,
    PRIMARY KEY(business_id, category_id)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [28]:
copy_stmt = copy_parquet_stmt("business_categories", "BUSINESS_CATEGORIES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [29]:
%%sql
SELECT COUNT(*) FROM business_categories;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(788110,)]

In [30]:
%%sql
SELECT * FROM business_categories LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('BeNBXXzqyaHtNQI0mW7EMg', 128849018882)]

# hours

In [45]:
%%sql
DROP TABLE IF EXISTS hours;
CREATE TABLE hours (
    business_id     varchar(22) PRIMARY KEY,
    Monday_from     int,
    Monday_to       int,
    Tuesday_from    int,
    Tuesday_to      int,
    Wednesday_from  int,
    Wednesday_to    int,
    Thursday_from   int,
    Thursday_to     int,
    Friday_from     int,
    Friday_to       int,
    Saturday_from   int,
    Saturday_to     int,
    Sunday_from     int,
    Sunday_to       int
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [46]:
copy_stmt = copy_parquet_stmt("hours", "HOURS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [47]:
%%sql
SELECT COUNT(*) FROM hours;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(192609,)]

In [48]:
%%sql
SELECT * FROM hours LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('O88ZqXtjtLkvaoxuwM0DmA', 700, 1700, 700, 1700, 700, 1700, 700, 1700, 700, 1700, 900, 1300, None, None)]

# businesses

In [49]:
%%sql
DROP TABLE IF EXISTS businesses;
CREATE TABLE businesses (
    business_id   varchar(22) PRIMARY KEY,
    address_id    bigint,
    is_open       boolean,
    name          varchar(256),
    review_count  bigint,
    stars         float
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [50]:
copy_stmt = copy_parquet_stmt("businesses", "BUSINESSES_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [51]:
%%sql
SELECT COUNT(*) FROM businesses;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(196728,)]

In [52]:
%%sql
SELECT * FROM businesses LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('muu0cBmWC6rU5cD6UKKBBw', 1176821039257, True, 'Star Woman Crystals', 19, 5.0)]

# reviews

In [55]:
%%sql
DROP TABLE IF EXISTS reviews;
CREATE TABLE reviews (
    business_id varchar(22),
    cool        bigint,
    ts          timestamp,
    funny       bigint,
    review_id   varchar(22) PRIMARY KEY,
    stars       float,
    text        varchar(20000),
    useful      bigint,
    user_id     varchar(22)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [56]:
copy_stmt = copy_parquet_stmt("reviews", "REVIEWS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [57]:
%%sql
SELECT COUNT(*) FROM reviews;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6685900,)]

In [58]:
%%sql
SELECT * FROM reviews LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('ujmEBvifdJM6h6RLv4wQIg', 0, datetime.datetime(2013, 5, 7, 4, 34, 36), 1, 'Q1sbwvVQXV2734tPgoKj4Q', 1.0, 'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.', 6, 'hG7b0MtEbXx5QzbzE6C_VA')]

# users

In [59]:
%%sql
DROP TABLE IF EXISTS users;
CREATE TABLE users (
    average_stars      float,
    compliment_cool    bigint,
    compliment_cute    bigint,
    compliment_funny   bigint,
    compliment_hot     bigint,
    compliment_list    bigint,
    compliment_more    bigint,
    compliment_note    bigint,
    compliment_photos  bigint,
    compliment_plain   bigint,
    compliment_profile bigint,
    compliment_writer  bigint,
    cool               bigint,
    fans               bigint,
    funny              bigint,
    name               varchar(256),
    review_count       bigint,
    useful             bigint,
    user_id            varchar(22) PRIMARY KEY,
    yelping_since      timestamp
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [60]:
copy_stmt = copy_parquet_stmt("users", "USERS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [61]:
%%sql
SELECT COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1637138,)]

In [62]:
%%sql
SELECT * FROM users LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3.63, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 16, 4, 22, 'Jenna', 33, 48, '4XChL029mKr5hydo79Ljxg', datetime.datetime(2013, 2, 21, 22, 29, 6))]

# elite_years

In [63]:
%%sql
DROP TABLE IF EXISTS elite_years;
CREATE TABLE elite_years (
    user_id varchar(22),
    year    int,
    PRIMARY KEY(user_id, year)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [64]:
copy_stmt = copy_parquet_stmt("elite_years", "ELITE_YEARS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [65]:
%%sql
SELECT COUNT(*) FROM elite_years;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(224499,)]

In [66]:
%%sql
SELECT * FROM elite_years LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('l6BmjZMeQD3rDxWUbiAiow', 2015)]

# friends

In [67]:
%%sql
DROP TABLE IF EXISTS friends;
CREATE TABLE friends (
    user_id   varchar(22),
    friend_id varchar(22),
    PRIMARY KEY(user_id, friend_id)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [68]:
copy_stmt = copy_parquet_stmt("friends", "FRIENDS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [69]:
%%sql
SELECT COUNT(*) FROM friends;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(75531114,)]

In [70]:
%%sql
SELECT * FROM friends LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('l6BmjZMeQD3rDxWUbiAiow', 'wMpFA46lihK8oFns_5p65A')]

# checkins

In [87]:
%%sql
DROP TABLE IF EXISTS checkins;
CREATE TABLE checkins (
    business_id varchar(22),
    ts          timestamp,
    PRIMARY KEY(business_id, ts)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [88]:
copy_stmt = copy_parquet_stmt("checkins", "CHECKINS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [89]:
%%sql
SELECT COUNT(*) FROM checkins;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(19089148,)]

In [90]:
%%sql
SELECT * FROM checkins LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('FHkiHjbO6Oi8EFNKJ67xDA', datetime.datetime(2018, 7, 21, 22, 13, 52))]

# tips

In [83]:
%%sql
DROP TABLE IF EXISTS tips;
CREATE TABLE tips (
    business_id      varchar(22),
    compliment_count bigint,
    ts               timestamp,
    text             varchar(2000),
    user_id          varchar(22),
    tip_id           bigint
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [84]:
copy_stmt = copy_parquet_stmt("tips", "TIPS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [85]:
%%sql
SELECT COUNT(*) FROM tips;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1223094,)]

In [86]:
%%sql
SELECT * FROM tips LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('OPiPeoJiv92rENwbq76orA', 0, datetime.datetime(2013, 5, 25, 6, 0, 56), 'Happy Hour 2-4 daily with 1/2 price drinks and slushes AND after 8 half price shakes.  They actually have a peanut butter and bacon shake.', 'Ocha4kZBHb4JK0lOWvE0sg', 1)]

# photos

In [79]:
%%sql
DROP TABLE IF EXISTS photos;
CREATE TABLE photos (
    business_id varchar(22),
    caption     varchar(560),
    label       varchar(7),
    photo_id    varchar(22) PRIMARY KEY
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [80]:
copy_stmt = copy_parquet_stmt("photos", "PHOTOS_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [81]:
%%sql
SELECT COUNT(*) FROM photos;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(200000,)]

In [82]:
%%sql
SELECT * FROM photos LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('TggkxsvAxWs5HOfW1N9osw', 'St Supery Wine Dinner with great friends!', 'inside', 'S7Ium0pot04Xmoa1Sbhu1Q')]

# city_weather

In [95]:
%%sql
DROP TABLE IF EXISTS city_weather;
CREATE TABLE city_weather (
    date                date,
    avg_temperature     float,
    weather_description varchar(23),
    city_id             bigint,
    PRIMARY KEY(city_id, date)
);

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [96]:
copy_stmt = copy_parquet_stmt("city_weather", "CITY_WEATHER_PATH")
%sql $copy_stmt

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [97]:
%%sql
SELECT COUNT(*) FROM city_weather;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(15096,)]

In [98]:
%%sql
SELECT * FROM city_weather LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.ccg25xgqwmck.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.date(2017, 2, 12), 292.06375, 'sky is clear', 146028888064)]